    <div>
        {{ form_label(form.title, null, { 'label_attr': { 'class': 'font-medium text-gray-700' } }) }}
        {{ form_widget(form.title, { 'attr': { 'class': 'form-input rounded border-gray-300 w-full border h-10 px-4' } }) }}
        <div class="text-red-500 text-sm">{{ form_errors(form.title) }}</div>
    </div>

    <div>
        {{ form_label(form.author, null, { 'label_attr': { 'class': 'font-medium text-gray-700' } }) }}
        {{ form_widget(form.author, { 'attr': { 'class': 'form-input rounded border-gray-300 w-full border h-10 px-4' } }) }}
        <div class="text-red-500 text-sm">{{ form_errors(form.author) }}</div>
    </div>

    <div>
        {{ form_label(form.publishedDate, null, { 'label_attr': { 'class': 'font-medium text-gray-700' } }) }}
        {{ form_widget(form.publishedDate, { 'attr': { 'class': 'form-input rounded border-gray-300 w-full border h-10 px-4', 'type': 'date' } }) }}
        <div class="text-red-500 text-sm">{{ form_errors(form.publishedDate) }}</div>
    </div>

    <div>
        {{ form_label(form.isbn, null, { 'label_attr': { 'class': 'font-medium text-gray-700' } }) }}
        {{ form_widget(form.isbn, { 'attr': { 'class': 'form-input rounded border-gray-300 w-full border h-10 px-4' } }) }}
        <div class="text-red-500 text-sm">{{ form_errors(form.isbn) }}</div>
    </div>

    <div>
        {{ form_label(form.description, null, { 'label_attr': { 'class': 'font-medium text-gray-700' } }) }}
        {{ form_widget(form.description, { 'attr': { 'class': 'form-input rounded border-gray-300 w-full border h-10 px-4' } }) }}
        <div class="text-red-500 text-sm">{{ form_errors(form.description) }}</div>
    </div>
